<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WinRcs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="WinRCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<startup/>
	<userSettings>
		<WinRcs.Properties.Settings>
			<setting name="RcsPath" serializeAs="String">
				<value/>
			</setting>
			<setting name="DiffPath" serializeAs="String">
				<value/>
			</setting>
			<setting name="Font" serializeAs="String">
				<value/>
			</setting>
			<setting name="FontSize" serializeAs="String">
				<value>9</value>
			</setting>
		</WinRcs.Properties.Settings>
		<WinRCS.Properties.Settings>
			<setting name="RcsPath" serializeAs="String">
				<value/>
			</setting>
			<setting name="DiffPath" serializeAs="String">
				<value/>
			</setting>
		</WinRCS.Properties.Settings>
	</userSettings>
	<log4net>
		<!-- コンソール出力用 (VS 上 [出力] ウインドウへの出力) -->
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<!-- 出力文字列のフォーマット -->
			<layout type="log4net.Layout.PatternLayout">
				<!--^「日付、スレッド、レベル、logger名、メッセージ」が出力^-->
				<!--^「%-5p」というのは5文字以下の場合、右側に空白を入れる設定^-->
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
			</layout>
		</appender>
		<!-- ファイル出力用 -->
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<!-- ログファイルの切替 { サイズ: Size, 日付: Date } -->
			<param name="RollingStyle" value="Date"/>
			<!-- ファイル名 -->
			<param name="File" value="${APPDATA}/WinRcs/log/"/>
			<!-- ファイル名に付加する日付パターン -->
			<param name="DatePattern" value="yyyyMMdd&quot;_log.log&quot;"/>
			<!-- ファイル名の固定 -->
			<param name="StaticLogFileName" value="false"/>
			<!-- ファイル書き込み { 追記: true, 上書き: false } -->
			<param name="AppendToFile" value="true"/>
			<!-- 最大保存ファイル数 (古い順に削除) -->
			<param name="MaxSizeRollBackups" value="32"/>
			<!-- 出力文字列のフォーマット -->
			<layout type="log4net.Layout.PatternLayout">
				<header type="log4net.Util.PatternString" value="[task time = &quot;%date{HH:mm:ss,fff}&quot;]%newline"/>
				<footer type="log4net.Util.PatternString" value="[/task]%newline"/>
				<conversionPattern value="%-5level %date{yyyy/MM/dd HH:mm:ss, fff} [%thread] %logger - %message%newline"/>
			</layout>
			<!-- 出力するログ レベルのフィルタ -->
			<!-- Level : Fatal, Error, Warn, Info, Debug -->
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="Debug"/>
				<levelMax value="Fatal"/>
			</filter>
		</appender>
		<!-- デフォルトの出力設定 -->
		<root>
			<level value="ALL"/>
			<appender-ref ref="ConsoleAppender"/>
			<appender-ref ref="FileAppender"/>
		</root>
	</log4net>
</configuration>
